* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 8px;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.navbar {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 0rem;
}

.button {
  background: lightgreen;
  padding: 0.5rem 1.5rem;
  color: black;
  cursor: pointer;
  border-radius: 0.2rem;
  pointer-events: all;
}

.button.inactive {
  background: grey;
  cursor: none;
  pointer-events: none;
}

.button.stop {
  background: red;
  color: white;
}

.button.stop:hover {
  background: red;
  color: white;
}

.button:hover {
  background: rgb(164, 255, 164);
  color: black;
}

.nav-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2rem;
}

.nav-items {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-items a {
  margin-left: 1.5rem;
}

.nav-items select {
  margin-left: 0.5rem;
}

.generator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.generator-container p {
  margin-left: 0.5rem;
}

select {
  padding: 1.5rem;
  border: none;
  font-size: 1rem;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 0rem 2rem;
  padding-bottom: 0.3rem;
  background: grey;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.col {
  min-height: 10px;
  margin: 0 2px;
  flex: 1;
  border-top: black 5px solid;
  border-radius: 10px;
  background: lightblue;
}

.selected {
  background: indianred;
}

.pivot {
  background: lightskyblue;
}

.footer {
  max-height: 5vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  font-size: 0.8rem;
}

#logo-small {
  font-weight: lighter;
}

@media screen and (max-width: 1024px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-items {
    flex-direction: column;
    margin-top: 2rem;
  }

  .generator-container {
    flex-direction: column;
    justify-content: center;
  }
  .nav-items a,
  .nav-items p,
  .nav-items select {
    margin: 0.3rem 0rem;
  }

  .button {
    padding: 0.5rem 3.5rem;
  }

  .container {
    padding: 0rem 0.2rem;
  }

  .col {
    margin: 0 0.5px;
  }

  .footer-container {
    flex-direction: column;
  }
}
